In [38]:
import pandas as pd

student_pause = pd.read_csv('Data/student_pause.csv')
pattern_calculation = pd.read_csv('Data/pattern_calculation.csv')

merged_data = pd.merge(student_pause, pattern_calculation, on='student_id')

# Introduce new column 'empty_sumbissions' > total_values_count - total_non_zero_values_count
merged_data['empty_submissions'] = merged_data['total_values_count'] - merged_data['total_non_zero_values_count']

# drop column total_non_zero_values_count
merged_data = merged_data.drop(columns=['total_non_zero_values_count'])

print(merged_data.head(50).to_string())

    student_id  pauses  unique_patterns_count  total_values_count  duplicates  empty_submissions
0            2       7                     26                  28           2                  0
1            3       1                     38                  48           9                  1
2            4       2                     54                  64           8                  2
3            5       1                     48                  63          14                  1
4            6       5                     37                  43           4                  2
5            7       6                     25                  34           5                  4
6            8       8                     27                  28           1                  0
7            9       3                     30                  39           8                  1
8           10       1                     37                  43           2                  4
9           11       5                     19                  22           3                  0
10          12       4                     30                  32           1                  1
11          13       2                      9                  24          10                  5
12          16       2                     43                  54           9                  2
13          17       2                     37                  46           8                  1
14          18       8                     23                  52           6                 23
15          21       5                     36                  42           4                  2
16          25       9                     22                  27           3                  2
17          26       8                     20                  21           1                  0
18          29       9                     22                  23           1                  0
19          30       1                     42                  55          12                  1
20          32       7                     18                  23           4                  1
21          33       4                     32                  33           0                  1
22          35       3                     24                  26           2                  0
23          36       1                     42                  50           6                  2
24          37       7                     31                  33           1                  1
25          39       2                     37                  41           3                  1
26          40       5                     19                  24           4                  1
27          41       4                     33                  52          10                  9
28          45       6                     26                  32           4                  2
29          49       6                     11                  15           1                  3
30          54       5                     40                  45           3                  2
31          55      22                     42                  84          13                 29
32          56       1                     48                  56           7                  1
33          58       6                     36                  43           7                  0
34          64      10                     18                  20           2                  0
35          66       3                     36                  38           2                  0
36          67       2                     43                  44           1                  0
37          68       9                     32                  36           4                  0
38          69       5                     18                 113          49                 46
39          70       6                     23                  38           3                 12
40          71      12                     16                  18           1                  1
41          73       1                     46                  51           4                  1
42          75       5                     38                  40           2                  0
43          77       4                     33                  51           8                 10
44          79       4                     12                  13           1                  0
45          80       1                     40                  53           8                  5
46          81       2                     50                  54           4                  0
47          82       1                     32                  38           6                  0
48          83       2                     35                  45           8                  2
49          85       5                     42                  44           2                  0

In [39]:
merged_data.describe()

,student_id,pauses,unique_patterns_count,total_values_count,duplicates,empty_submissions
count,4428.000000,4428.000000,4428.000000,4428.000000,4428.000000,4428.000000
mean,5242.841915,4.315718,34.467028,41.158311,4.515583,2.175700
std,3039.195146,3.195908,12.681483,15.167643,4.963475,6.199443
min,2.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,2628.500000,2.000000,26.000000,32.000000,2.000000,0.000000
50%,5269.000000,4.000000,35.000000,41.000000,3.000000,1.000000
75%,8043.750000,6.000000,43.000000,50.000000,6.000000,2.000000
max,10058.000000,82.000000,82.000000,209.000000,81.000000,192.000000

In [40]:
merged_data.head()

,student_id,pauses,unique_patterns_count,total_values_count,duplicates,empty_submissions
0,2,7,26,28,2,0
1,3,1,38,48,9,1
2,4,2,54,64,8,2
3,5,1,48,63,14,1
4,6,5,37,43,4,2

In [41]:
merged_data = pd.DataFrame(merged_data)