In [1]:
import pandas as pd
dfFivePoints = pd.read_csv('Data/restructured_fivepointstest.csv')

In [2]:
rows = dfFivePoints['student_id'].value_counts().reset_index()
rows.columns = ['student_id', 'total_patterns']

# Groepeer de rijen op basis van 'student_id' en neem de som van de 'pattern' waar deze gelijk is aan "0,0,0,0,0,0,0,0"
sum_of_pattern = dfFivePoints[dfFivePoints['patternsm'] == "0,0,0,0,0,0,0,0"].groupby('student_id')['patternsm'].count().reset_index()
sum_of_pattern.columns = ['student_id', 'sum_invalid_pattern']

total_duplicates = dfFivePoints.groupby('student_id').size().reset_index()
total_duplicates.columns = ['student_id', 'total_duplicates']

# Voeg de sommen toe aan de oorspronkelijke DataFrame
rows = pd.merge(rows, sum_of_pattern, on='student_id', how='left')

rows

      student_id  total_patterns  sum_invalid_pattern
0            879             209                192.0
1           1161             175                156.0
2            748             164                137.0
3           9884             151                 66.0
4           2639             137                 77.0
...          ...             ...                  ...
4545        1354               1                  1.0
4546        9780               1                  1.0
4547        7132               1                  1.0
4548        5300               1                  1.0
4549        3467               1                  NaN

[4550 rows x 3 columns]